
<h3>Ecotourism</h3>
<br>
<div class="container">
<script type="text/javascript"></script>  
<ul class="thumbnails">  
        <li class="span3">  
          <div class="thumbnail">  
            <%= image_tag "thumb1.jpg" %>  
            <div class="caption">  
              <h5>Wayanad</h5>  
              <p>Category: Ecotourism<br>Specialities: Forest Trip,Adventure<br>Cost: &#8377 4000/-</p>  
              <p><a href="modal" class="btn btn-success" data-toggle="modal" data-target="#example">View</a>
			    <a href="#" class="btn btn-warning">Gallery</a></p>  
            </div>  
          </div>  
        </li>  
        <li class="span3">  
          <div class="thumbnail">  
            <%= image_tag "thumb2.jpg" %>  
            <div class="caption">  
              <h5>Thekkadi</h5>  
              <p>Category: Western Ghats<br>Specialities: Boating,Bathing<br>Cost: &#8377 8000/-</p>  
              <p><a href="#" class="btn btn-success">View</a> <a href="#" class="btn btn-warning">Gallery</a></p>  
            </div>  
          </div>  
        </li>
	    <li class="span3">  
          <div class="thumbnail">  
            <%= image_tag "thumb3.jpg" %>  
            <div class="caption">  
              <h5>Ponmudi</h5>  
              <p>Category: Ayurveda<br>Specialities: Bathing,Treatment<br>Cost: &#8377 9000/-</p>  
              <p><a href="modal" class="btn btn-success">View</a> <a href="#" class="btn btn-warning">Gallery</a></p>  
            </div>  
          </div>  
        </li>
      </ul>
	  <ul class="thumbnails">  
	    <li class="span3">  
          <div class="thumbnail">  
            <%= image_tag "thumb4.jpg" %>  
            <div class="caption">  
              <h5>Allepy</h5>  
              <p>Category: Backwaters<br>Specialities: HouseBoat,Backwaters<br>Cost: &#8377 15000/-</p>  
              <p><a href="#example" class="btn btn-success">View</a> <a href="#" class="btn btn-warning">Gallery</a></p>  
            </div>  
          </div>  
        </li>
        <li class="span3">  
          <div class="thumbnail">  
            <%= image_tag "thumb5.jpg" %>  
            <div class="caption">  
              <h5>Kappad</h5>  
              <p>Category: Seashore<br>Specialities: Bathing,Fishing<br>Cost: &#8377 8000/-</p>  
              <p><a href="#" class="btn btn-success">View</a> <a href="#" class="btn btn-warning">Gallery</a></p>  
            </div>  
          </div>  
        </li>  
      </ul>  
  	  <hr>
	<div id="example" class="modal hide fade in" style="display: none; ">  
		<div class="modal-header">  
			<a class="close" data-dismiss="modal">×</a>  
			<h3>This is a Modal Heading</h3>  
		</div>  
		<div class="modal-body">  
			<h4>Text in a modal</h4>  
			<p>You can add some text here.</p>                
		</div>  
		<div class="modal-footer">  
			<a href="#" class="btn btn-success">Call to action</a>  
			<a href="#" class="btn" data-dismiss="modal">Close</a>  
		</div>
	</div>        
    </div> <!-- /container -->  
